{% load static %}
{% load leaflet_tags %}
<html>
<head>
    <title>{{ node_map_title }}</title>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
        .leaflet-container {
            height: 100%;
        }
    </style>

    <link rel="stylesheet" href="{% static "nodemap.css" %}"/>

    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">

    <script type="text/javascript">
        var dataurl = '{{ data }}';

        var geojsonMarkerOptionsGreen = {
            radius: 8,
            fillColor: "#50D050",
            color: "#000",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        };

        var geojsonMarkerOptionsRed = {
            radius: 8,
            fillColor: "#FF0000",
            color: "#000",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        };

        window.addEventListener("map:init", function (event) {
            var map = event.detail.map;
            // Download GeoJSON data with Ajax
            fetch(dataurl)
                .then(function (resp) {
                    return resp.json();
                })
                .then(function (data) {
                    L.geoJson(data, {
                        pointToLayer: function (feature, latlng) {
                            if (feature.properties.is_online === true)
                                return L.circleMarker(latlng, geojsonMarkerOptionsGreen);
                            else
                                return L.circleMarker(latlng, geojsonMarkerOptionsRed);
                        }
                    }).addTo(map);
                });
        });
    </script>
</head>
<body bgcolor="#ffffe6" style="font-family: 'Righteous', cursive;">

<table style="width:100%; height: 100%">
    <tr style="height: 30px">
        <th><h1 style="text-align: left">{{ node_map_title }}</h1></th>
    </tr>
    <tr>
        <td>{% leaflet_map "main" %}</td>
    </tr>
    <tr style="height: 30px">
        <td>
            <a href="{% url 'imprint' %}">Impressum</a>
            <a href="{% url 'data-privacy' %}">Datenschutzerklärung</a>
            <a href="{% url 'disclaimer' %}">Disclaimer</a>
            <br>
            &copy; 2019 by {{ company_name }}
        </td>
    </tr>
</table>

<!-- The Modal -->
<div id="myModal" class="modal" style="display: block;">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>
            {% autoescape off %}
                {{ intro_popup_html }}
            {% endautoescape %}
        </p>
        <button class="close" id="myBtn">schließen</button>
    </div>
</div>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, close the modal
    btn.onclick = function () {
        modal.style.display = "none";
    };

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    };

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    };
</script>

</body>
</html>